#hello-css {
    color: green;
}
#hello-css::before {
    content: "hello from CSS";
}
#hello-css::after {
    content: "";
    display: inline-block;
    height: 16px;
    width: 16px;
    background: url('duck.gif');
    margin-left: 6px;
}
